.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 85%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0px 10px 10px 0px;
    border-top: 2px solid $action;
    border-right: 2px solid $action;
    border-bottom: 2px solid $action;
    background: $secondary;
    transition: opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
    transform-origin: 0% 0%;
    transform: rotate(90deg);
    opacity: 0;
}

.mobile-menu-open {
    transform: rotate(0);
    opacity: 1;
}
