.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    @media (max-width: 950px) {
        flex-direction: column;
    }
}

.admin-nav {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}
