.invisible-link {
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.invisible-anchor {
    @extend .invisible-link;
    margin-left: 10px;
    margin-right: 10px;
}

.basic-link {
    color: $action;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    &:focus {
        outline: none;
    }

    &:hover {
        border-bottom: 2px solid $action;
        cursor: pointer;
    }
}

.navbar-link {
    @extend .basic-link;
    margin: 10px;
    font-size: 1.5rem;
    white-space: nowrap;
    text-transform: uppercase;
}

.navbar-link-active {
    @extend .navbar-link;
    border-bottom: 2px solid $action;
}

.desktop-login-link {
    @extend .navbar-link;
    @media (max-width: 950px) {
        display: none;
    }
}

.mobile-login-link {
    @extend .navbar-link;
    @media (min-width: 951px) {
        display: none;
    }
}

.table-link {
    display: flex;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.table-link-color {
    cursor: pointer;
    height: 100%;
    color: $font;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    &:hover {
        color: $action;
    }

    &:focus {
        outline: none;
    }
}

.admin-nav-link {
    @extend .basic-link;
    margin: 10px;
}
