.fadeOut {
    animation: fadeOut 0.3s;
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}

.fadeIn {
    animation: fadeIn 0.3s;
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
