.mobile-menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    border: 2px solid $action;
    padding: 0;
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 20px;
    background: $secondary;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.btn-line {
    width: 1.6rem;
    height: 4px;
    margin-top: 6px;
    background: $action;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.close-button {
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 14px;
    width: 22px;
    height: 22px;
    opacity: 0;

    &:hover {
        cursor: pointer;
    }
}

.close-cross {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 1;

    &:before,
    &:after {
        position: absolute;
        content: " ";
        height: 25px;
        width: 3px;
        background-color: $action;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:focus {
        outline: none;
    }
}

.img-close {
    @extend .close-button;
    top: 15px;
    right: 18px;
}

.img-close-cross {
    @extend .close-cross;
    top: 15px;
    right: 12px;
}

.basic-btn {
    background: $primary;
    color: $secondary;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 1.8rem;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

    &:hover {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    &:active {
        transition: 0.1s;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        outline: none;
    }
}

.login-modal-btn {
    @extend .basic-btn;
    grid-row: 3 / 4;
}

.action-btn {
    @extend .basic-btn;
    background: $background;
    color: $action;
    border: 2px solid $action;

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.delete-btn {
    @extend .basic-btn;
    background: $background;
    border: 2px solid $warning;
    color: $warning;

    &:hover {
        background: $warning;
        color: $background;
    }
}

.abort-btn {
    @extend .basic-btn;
    display: flex;
    align-items: center;
    background: $background;
    color: $primary;
    border: 2px solid $primary;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
    padding-left: 5px;

    &:hover {
        opacity: 1;
    }

    &:active {
        transition: 0.1s;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
        border: 2px solid $primary;
    }
}

.floating-btn {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 25px;
    right: 70px;
    height: 2rem;
    color: $action;
    background: $background;
    border: 2px solid $action;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, transform 0.3s linear;
    transform: translateX(0);

    &::-moz-focus-inner {
        border: 0;
    }
}

.floating-btn-show {
    opacity: 0;
    transform: translateX(200px);
}

.table-button {
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
    &::-moz-focus-inner {
        border: 0;
    }
    &:focus {
        outline: none;
    }
}

.toggle-img-btn {
    cursor: pointer;
}

.add-button {
    font-size: 44px;
    color: $primary;
    cursor: pointer;
    &:hover {
        color: $action;
    }
}

.floating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    bottom: 30px;
    right: 15px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    background: $action;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.1s linear;

    &::-moz-focus-inner {
        border: 0;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
    }

    &:active {
        transition: 0.1s;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    }
}

.floating-add {
    @extend .floating;
    &:before,
    &:after {
        position: absolute;
        left: 25px;
        content: " ";
        height: 23px;
        width: 4px;
        background-color: $primary;
    }

    &:before {
        transform: rotate(90deg);
    }
}

.floating-add-file {
    @extend .floating;
    color: $primary;

    &:hover {
        > svg {
            fill: $background;
            color: $background;
        }
    }
}

.floating-add-folder {
    @extend .floating-add-file;
    bottom: 105px;
    > svg {
        fill: $primary;
        color: $primary;
        width: 24px;
    }
}

.floating-save {
    @extend .floating;
    border-radius: 4px;
    bottom: 100px;
}

.floating-delete {
    @extend .floating;
    display: none;
    right: 90px;
    background: $background;
    color: $warning;
    border: 3px solid $warning;

    &:hover {
        background: $warning;
        color: $background;
    }

    > svg {
        height: 60%;
    }
}

.floating-move {
    @extend .floating;
    display: none;
    bottom: 100px;
    background: $tertiary;
    &:hover {
        > svg {
            fill: $action;
        }
    }
}

.arrow-right {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    transform: rotate(-90deg);
    transition: all 0.2s ease;

    > span {
        top: 5px;
        position: absolute;
        width: 8px;
        height: 2px;
        background-color: $action;
        display: inline-block;

        &:first-of-type {
            left: 0;
            transform: rotate(45deg);
        }

        &:last-of-type {
            right: 0;
            transform: rotate(-45deg);
        }
    }
}

.arrow-right-l {
    @extend .arrow-right;
    width: 20px;
    height: 20px;
    margin: 0 1rem;

    > span {
        top: 12px;
        width: 13px;
        height: 3px;
    }
}

.clickable {
    cursor: pointer;
}

.back-button {
    display: flex;
    align-items: center;
    align-self: flex-start;
    text-align: left;
    color: $action;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
    ::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        text-decoration: none;
        opacity: 1;
        color: $action;
    }
    &:focus {
        outline: none;
    }
}

.back-arrow {
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
