.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10rem;
    z-index: 0;
    background: $background;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1380px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-top: 2rem;
    margin-top: 1rem;
    @media (max-width: 790px) {
        margin-top: 0;
    }
}

.contact-box {
    width: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.contact-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

    @media (max-width: 400px) {
        margin: 10px;
    }
}

.desktop-login {
    display: none;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: -18px;
    padding-bottom: 0px;
    height: 0px;
    width: 0px;
    background: $background;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.desktop-login-open {
    opacity: 1;
    visibility: visible;
    margin-top: 80px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 2rem;
    width: 70%;
    transform: translateY(0);
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $primary;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    margin-top: 30px;
    padding: 20px;
}

.form-container-large {
    @extend .form-container;
    max-width: 1000px;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin: 20px;
}

.row-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: 20px;
}

.svg-text-wrapper {
    display: initial;
}

.row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;

    @media (max-width: 950px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.small-row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column100 {
    @extend .column;
    width: 100%;
}

.js-hint {
    background: $action;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0px;

    animation: 3s ease 0s normal forwards 1 fadein;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;

    @keyframes fadein {
        0% {
            opacity: 0;
        }
        66% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {
        0% {
            opacity: 0;
        }
        66% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.table-column {
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 100%;
    position: relative;
}

.img-overlay-white {
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
        358deg,
        #ffffff,
        #ffffff 35.9%,
        #fcfcfc00 36%,
        #fcfcfc00 37.1%,
        #ffffff00 37.2%,
        #ffffff00 100%
    );
}

.img-overlay-transparent {
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
        357deg,
        #ffffff00,
        #ffffff00 29%,
        #fcfcfc75 29.1%,
        #fcfcfc75 48.1%,
        #ffffff00 48.2%,
        #ffffff00 100%
    );
}

.align-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.align-right {
    @extend .align-left;
    justify-content: flex-end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 30px;
    top: 20%;
    bottom: 20%;
    background: $transparentBackground;

    @media (max-width: 950px) {
        background: transparent;
        position: relative;
        width: 100%;
        right: 0;
    }
}

.main-img-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $action;
    left: 60px;
    top: 25%;
    bottom: 20%;

    @media (max-width: 950px) {
        top: 20%;
        left: 30px;
    }
}

.desktop-flex {
    @media (min-width: 950px) {
        display: flex;
        align-items: center;
    }
}

.desktop-flex-reverse {
    @extend .desktop-flex;
    flex-direction: row-reverse;
}

.folder-wrapper {
    @extend .column100;
    max-width: 370px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    margin-top: 5px;
}

.folder {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $hover;
    padding: 5px;
    width: 100%;
}

.description-box {
    display: none;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
}

.description-box-visible {
    visibility: visible;
    padding: 10px;
    height: auto;
}

.row-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.container-100 {
    height: 100%;
    width: 100%;
}
