.file-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    width: 100%;
    max-width: 1000px;
    border-top: 2px solid $hover;

    &:last-of-type {
        border-bottom: 2px solid $hover;
    }
}

.file {
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: $font;
    transition: all 0.1s ease-in-out;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        color: $action;
    }
    &:focus {
        outline: none;
    }
}

.filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    width: 90%;
}

.file-title-box {
    width: 100%;
    display: flex;
}

.select-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 1000px;
}
