.footer {
    height: 10rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    color: $secondary;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
