.header {
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0px;
    height: 55px;
    width: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    background: $secondary;
    opacity: 0.9;

    &:hover {
        opacity: 1;
    }

    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.max-width {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    transition: transform 0.5s ease-in-out;
}
