.header-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: right;

    @media (min-width: 950px) {
        height: 70vh;
    }
}

.content-img-left {
    height: 15rem;
    margin-right: 25px;
    margin-bottom: 15px;

    @media (max-width: 950px) {
        height: 10rem;
    }
}

.content-img-right {
    height: 13rem;
    margin-left: 25px;
    margin-bottom: 15px;

    @media (max-width: 950px) {
        height: 9rem;
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.modal-img {
    display: none;
    height: 100%;
}

.wa-img {
    height: 54px;
}

.telegram-img {
    height: 40px;
}
