.modal-background {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background: $transparentBackground;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 160px;
    transition: all 0.2s ease-in-out;
}

.modal-background-open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.basic-modal {
    position: fixed;
    z-index: 4;
    background: $background;
    border-radius: 5px;
    border: 2px solid $action;
    top: 70px;
    height: 200px;
    width: 85%;
    max-width: 380px;
}

.login-modal {
    @extend .basic-modal;
    display: none;
    transition: transform 0.5s, opacity 0.8s ease-in-out;
    transform: translateY(-200%);
    opacity: 0;
}

.cookie-modal {
    @extend .basic-modal;
    padding: 10px;
    height: initial;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.move-modal {
    @extend .basic-modal;
    padding: 10px;
    display: none;
    align-items: center;
    flex-direction: column;
}

.delete-modal {
    @extend .basic-modal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 150px;
    padding: 20px;
}

.login-modal-open {
    transform: translateY(0%);
    opacity: 1;
}

.alert-modal {
    display: flex;
    justify-content: center;
    height: initial;
    position: fixed;
    z-index: 3;
    top: 10px;
    border-radius: 5px;
    border: 2px solid $primary;
    background: $tertiary;
    width: 85%;
    max-width: 400px;
    padding: 1rem;
    animation: fade-in-out 3.5s;
    opacity: 0;
    transform: translateY(-200%);
    visibility: hidden;

    @keyframes fade-in-out {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-200%);
        }
        20% {
            opacity: 1;
            visibility: initial;
            transform: translateY(0%);
        }
        85% {
            opacity: 1;
            visibility: initial;
            transform: translateY(0%);
        }
        100% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-200%);
        }
    }

    &:hover {
        cursor: pointer;
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
}

.warning-modal {
    @extend .alert-modal;
    color: $warning;
    border: 2px solid $warning;
    animation: fade-in-out 4.5s;
}

// image modal

.img-modal-background {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    background: $primary;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.img-modal-content {
    height: 90%;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    transform: scale(0);
    transition: transform 0.5s ease;
}

// report modals

.report-modal {
    display: none;
    justify-content: center;
    flex-direction: column;
    background: $background;
    border: 1px solid $primary;
    position: fixed;
    z-index: 3;
    border-radius: 5px;
    width: 0px;
    height: 0px;
    max-width: 500px;
    margin-top: 20px;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out,
        height 0.3s ease-in-out, visibility 0.2s ease-in-out;

    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.report-modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    overflow: auto;
}
