.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 320px;
    min-height: 250px;
    padding: 25px;

    @media (max-width: 950px) {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding: 5px;
    }
}

.slide {
    text-align: center;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    color: $secondary;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

    @media (max-width: 950px) {
        color: $font;
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: $secondary;
    font-weight: bold;
    font-size: 22px;
    transition: 0.3s ease-in-out;
    border-radius: 0 3px 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.8;

    &:hover {
        background-color: $transparentBackground;
        color: $action;
        opacity: 1;
    }

    @media (max-width: 950px) {
        color: $primary;
    }
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &:hover {
        background: $action;
    }
}

.active {
    background: #717171;
}

.dots-wrapper {
    display: flex;
    position: absolute;
    bottom: 5px;
}
