$stars: 5;
$star-size: 28px;
$star-spacing: 2px;
// $star-on-color: #f9df4a;
$star-on-color: #fc0;
$star-off-color: #cccccc;

.clickable-star-rating {
    margin-bottom: 10px;
    width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
    height: $star-size;

    label {
        float: right;
        position: relative;
        width: $star-size;
        height: $star-size;
        cursor: pointer;

        &:not(:first-of-type) {
            padding-right: $star-spacing;
        }

        &:before {
            content: "\2605";
            font-size: $star-size + 2px;
            color: $star-off-color;
            line-height: 1;
        }
    }

    input {
        display: none;
    }

    input:checked ~ label:before,
    &:not(:checked) > label:hover:before,
    &:not(:checked) > label:hover ~ label:before {
        color: $star-on-color;
    }
}

// Showing only the ratings

:root {
    --star-size: 30px;
    --star-off-color: #cccccc;
    --star-on-color: #fc0;
}

.average-star-rating {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;

    &::before {
        content: "★★★★★";
        letter-spacing: 3px;
        background: linear-gradient(
            90deg,
            var(--star-on-color) var(--percent),
            var(--star-off-color) var(--percent)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.show-star-rating-guest {
    @extend .average-star-rating;
    --star-size: 28px;
    margin-bottom: 10px;
    grid-column: 2;
}

.show-star-rating-sm {
    @extend .average-star-rating;
    --star-size: 14px;
    @media (max-width: 950px) {
        display: none;
    }
}

.show-star-rating-l {
    @extend .average-star-rating;
    --star-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media (min-width: 951px) {
        display: none;
    }
}

.show-star-rating-m {
    @extend .average-star-rating;
    --star-size: 23px;
    @media (max-width: 950px) {
        --star-size: 25x;
    }
}
