.blackboard-svg {
    height: 12rem;
    margin-right: 30px;
    margin-bottom: 10px;
    @media (max-width: 950px) {
        shape-outside: ellipse();
        margin-right: 25px;
        height: 8rem;
    }
}

.contact-svg {
    height: 30px;
    margin-right: 15px;
}

.table-svg {
    height: 35px;
    padding: 6px;
    color: $primary;
    transition: all 0.1s ease-in-out;
}

.disclaimer-svg {
    height: 25px;
    margin: 0px 8px;
    align-self: flex-end;
}

.edit {
    @extend .table-svg;
    color: $primary;

    &:hover {
        color: $action;
    }
}

.edit-active {
    @extend .table-svg;
    color: $action;
}

.delete {
    @extend .table-svg;
    fill: $secondary;

    &:hover {
        fill: $warning;
    }
}

.save {
    @extend .table-svg;
    height: 30px;

    &:hover {
        fill: $online;
    }
}

.copy {
    height: 26px;
    fill: $primary;
    transition: all 0.1s ease-in-out;
}

.plus {
    height: 20px;
    width: 30px;
    fill: $primary;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
        fill: $action;
    }
}

.saveAll {
    // height: 65px;
    fill: $secondary;
    color: $secondary;
}

.folder-icon {
    cursor: pointer;
    text-decoration: none;
    color: $font;
    &:focus {
        outline: none;
    }
    > svg {
        margin-left: 10px;
        margin-right: 10px;
        height: 20px;
    }

    &:hover {
        > svg {
            transition: all 0.1s ease-in-out;
            color: $action;
            fill: $action;
        }
    }
}

.file-svg {
    width: 30px;
    margin: 10px;
    fill: $primary;
}

.file-svg-hover {
    &:hover {
        > svg {
            fill: $action;
        }
    }
}
