.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.th {
    @media (max-width: 950px) {
        top: 0;
    }
    position: sticky;
    top: 2.8rem;
    padding: 5px 0px 5px 0px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $primary;
    color: $secondary;
    z-index: 2;
}

.tr {
    &:nth-of-type(odd) {
        background: $tertiary;
    }
    &:nth-of-type(even) {
        background: $background;
    }

    transition: all 0.1s ease-in-out;
}

.td {
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.td-online {
    @extend .td;
    color: $online;
}

.td-offline {
    @extend .td;
    color: $warning;
}

.td-actions {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

// reports table

.report-table {
    @extend .table;

    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

    td:first-child {
        border-left: 0;
    }

    tr:first-child td {
        border-top: 0;
    }
}

.th-row {
    display: flex;
    align-items: center;
    background: $primary;
    position: sticky;
    width: 100%;
    top: 55px;
    z-index: 2;

    @media (max-width: 950px) {
        display: none;
    }
}

.th-flex {
    @extend .th;
    width: 60%;
}

.th-visible {
    @extend .th;
    grid-column: 1 / 2;
}

.th-slider {
    @extend .th-visible;
    grid-column: 2 / 3;
}

.th-small {
    @extend .th;
    grid-column: 3 / 4;
}

.th-author {
    @extend .th;
    width: 10%;
}

.th-rating {
    display: flex;
    justify-content: center;
    width: 30%;
    background: $primary;
    color: $secondary;
    z-index: 2;
    grid-column: 2;
}

.th-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.tr-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 25%) repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    width: 30%;
    align-self: stretch;
    border-left: 4px solid whitesmoke;

    @media (max-width: 950px) {
        width: 100%;
        display: flex;
        align-items: center;
        border-left: none;
        border-top: 4px solid whitesmoke;
        justify-content: space-evenly;
    }
}

.tr-wrapper-guest {
    @extend .tr-wrapper;
    @media (max-width: 950px) {
        border-top: none;
    }
}

.report-tr {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid whitesmoke;

    @media (max-width: 950px) {
        flex-direction: column;
    }
}

.td-small {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    grid-column: 3 / 4;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 4px solid whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-name {
    @extend .td-small;
    width: 10%;
    border-left: none;
    flex-direction: column;

    @media (max-width: 950px) {
        width: 100%;
    }
}

.checkbox-visible {
    @extend .td-small;
    border-left: none;

    @media (max-width: 950px) {
        width: 70px;
        flex-direction: column;
        margin-top: 20px;
    }
}

.checkbox-slider {
    @extend .checkbox-visible;
}

.td-flex {
    display: flex;
    align-items: center;
    align-self: stretch;
    text-align: left;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 4px solid whitesmoke;
    font-weight: 500;

    @media (max-width: 950px) {
        width: 100%;
        border-left: none;
    }
}

.table-delete {
    grid-column: 5 / 6;
}

.table-edit {
    grid-column: 4 / 5;
}

.form-wrapper {
    grid-column: 1 / 4;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.checkbox-wrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
    grid-column: 1 / 5;
}
