@charset "UTF-8";

@font-face {
  /* Logo */
  font-family: "Guillermonkey";
  src: url(/fonts/Guillermonkey.eot?f72052ed0a914a0b74f89042e935f40a);
  /* IE9 Compat Modes */
  src: url(/fonts/Guillermonkey.eot?f72052ed0a914a0b74f89042e935f40a) format("embedded-opentype"), url(/fonts/Guillermonkey.otf?f40e28b9213e0e4892f977694dab1aad) format("opentype"), url(/fonts/Guillermonkey.svg?96e26b34798c0c9fa2859c3574e44276) format("svg"), url(/fonts/Guillermonkey.ttf?69f87997279b81a85d1fa796361e8fdb) format("truetype"), url(/fonts/Guillermonkey.woff?d62105e83ced471f48d82f373169b618) format("woff"), url(/fonts/Guillermonkey.woff2?b342c12a53bbf5b2451eaf4de85a01aa) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Standard Text */
  font-family: "Gidole-Regular";
  src: url(/fonts/Gidole-Regular.eot?8a7fa29caf72fa1c2b514a7bec25e048);
  /* IE9 Compat Modes */
  src: url(/fonts/Gidole-Regular.eot?8a7fa29caf72fa1c2b514a7bec25e048) format("embedded-opentype"), url(/fonts/Gidole-Regular.otf?ceba76e6035f78b2fbd8b501d044bc47) format("opentype"), url(/fonts/Gidole-Regular.svg?36faeaaec4daf01d389d00c8d551365a) format("svg"), url(/fonts/Gidole-Regular.ttf?e088b9b28f52ecfdf24f8292532ddc09) format("truetype"), url(/fonts/Gidole-Regular.woff?24b2213ce65de010a84d10b4a2ef44ab) format("woff"), url(/fonts/Gidole-Regular.woff2?9882557d6155a5795b2fd691bf0878ea) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-size: 180%;
  padding-top: 3%;
  margin: 0;
  color: #223f37;
  font-family: "Guillermonkey";
}

.contact-text {
  font-size: 1.1rem;
}

.h2,
.badge-heading {
  font-size: 1.9rem;
}

.badge-heading {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 900;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background: #fbfbfb;
  background: linear-gradient(90deg, rgba(251, 251, 251, 0) 0%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.8) 75%, rgba(231, 231, 231, 0) 100%);
}

@media (max-width: 950px) {
  .badge-heading {
    font-size: 1.1rem;
  }
}

.td-text,
.th-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.small {
  font-size: 0.8rem;
}

.medium {
  font-size: 0.9rem;
}

.content-text {
  word-wrap: break-word;
}

.slider-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.slider-text {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2rem;
}

.center-text {
  text-align: center;
}

.lh-m {
  line-height: 1.5;
}

.light {
  color: #808080;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-50 {
  margin: 50px;
}

.top {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.bottom {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.right {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.left {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.no-margin {
  margin: 0px;
}

* *,
* *:before,
* *:after {
  box-sizing: inherit;
}

* html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  color: #292929;
  font-family: "Gidole-Regular";
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10rem;
  z-index: 0;
  background: #ffffff;
}

.main-container *,
.main-container *:before,
.main-container *:after {
  box-sizing: border-box;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1380px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  padding-top: 2rem;
  margin-top: 1rem;
}

@media (max-width: 790px) {
  .content-container {
    margin-top: 0;
  }
}

.contact-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .contact-box {
    flex-direction: column;
    align-items: center;
  }
}

.contact-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

@media (max-width: 400px) {
  .contact-row {
    margin: 10px;
  }
}

.desktop-login {
  display: none;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: -18px;
  padding-bottom: 0px;
  height: 0px;
  width: 0px;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.desktop-login-open {
  opacity: 1;
  visibility: visible;
  margin-top: 80px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 2rem;
  width: 70%;
  transform: translateY(0);
}

.form-container,
.form-container-large {
  display: flex;
  flex-direction: column;
  border: 1px solid #223f37;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  margin-top: 30px;
  padding: 20px;
}

.form-container-large {
  max-width: 1000px;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.row-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  margin: 20px;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  margin-top: 20px;
}

.svg-text-wrapper {
  display: initial;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

@media (max-width: 950px) {
  .row {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.small-row {
  display: flex;
  align-items: center;
}

.column,
.column100,
.folder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column100,
.folder-wrapper {
  width: 100%;
}

.js-hint {
  background: #e54400;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  animation: 3s ease 0s normal forwards 1 fadein;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.table-column {
  display: flex;
  flex-direction: column;
}

.img-container {
  width: 100%;
  position: relative;
}

.img-overlay-white {
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(358deg, #ffffff, #ffffff 35.9%, #fcfcfc00 36%, #fcfcfc00 37.1%, #ffffff00 37.2%, #ffffff00 100%);
}

.img-overlay-transparent {
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(357deg, #ffffff00, #ffffff00 29%, #fcfcfc75 29.1%, #fcfcfc75 48.1%, #ffffff00 48.2%, #ffffff00 100%);
}

.align-left,
.align-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.align-right {
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 30px;
  top: 20%;
  bottom: 20%;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 950px) {
  .slider-container {
    background: transparent;
    position: relative;
    width: 100%;
    right: 0;
  }
}

.main-img-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #e54400;
  left: 60px;
  top: 25%;
  bottom: 20%;
}

@media (max-width: 950px) {
  .main-img-text-container {
    top: 20%;
    left: 30px;
  }
}

@media (min-width: 950px) {
  .desktop-flex,
  .desktop-flex-reverse {
    display: flex;
    align-items: center;
  }
}

.desktop-flex-reverse {
  flex-direction: row-reverse;
}

.folder-wrapper {
  max-width: 370px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  margin-top: 5px;
}

.folder {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 100%;
}

.description-box {
  display: none;
  width: 100%;
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

.description-box-visible {
  visibility: visible;
  padding: 10px;
  height: auto;
}

.row-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.container-100 {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0px;
  height: 55px;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  background: #f7f9fa;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

.header:hover {
  opacity: 1;
}

.max-width {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  transition: transform 0.5s ease-in-out;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

@media (max-width: 950px) {
  .navbar {
    flex-direction: column;
  }
}

.admin-nav {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}

.invisible-link,
.invisible-anchor {
  text-decoration: none;
}

.invisible-link:focus,
.invisible-anchor:focus {
  outline: none;
}

.invisible-anchor {
  margin-left: 10px;
  margin-right: 10px;
}

.basic-link,
.admin-nav-link,
.navbar-link,
.mobile-login-link,
.desktop-login-link,
.navbar-link-active {
  color: #e54400;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.basic-link:focus,
.admin-nav-link:focus,
.navbar-link:focus,
.mobile-login-link:focus,
.desktop-login-link:focus,
.navbar-link-active:focus {
  outline: none;
}

.basic-link:hover,
.admin-nav-link:hover,
.navbar-link:hover,
.mobile-login-link:hover,
.desktop-login-link:hover,
.navbar-link-active:hover {
  border-bottom: 2px solid #e54400;
  cursor: pointer;
}

.navbar-link,
.mobile-login-link,
.desktop-login-link,
.navbar-link-active {
  margin: 10px;
  font-size: 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.navbar-link-active {
  border-bottom: 2px solid #e54400;
}

@media (max-width: 950px) {
  .desktop-login-link {
    display: none;
  }
}

@media (min-width: 951px) {
  .mobile-login-link {
    display: none;
  }
}

.table-link {
  display: flex;
  justify-content: center;
}

.table-link:hover {
  cursor: pointer;
}

.table-link:focus {
  outline: none;
}

.table-link-color {
  cursor: pointer;
  height: 100%;
  color: #292929;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.table-link-color:hover {
  color: #e54400;
}

.table-link-color:focus {
  outline: none;
}

.admin-nav-link {
  margin: 10px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 85%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0px 10px 10px 0px;
  border-top: 2px solid #e54400;
  border-right: 2px solid #e54400;
  border-bottom: 2px solid #e54400;
  background: #f7f9fa;
  transition: opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
  opacity: 0;
}

.mobile-menu-open {
  transform: rotate(0);
  opacity: 1;
}

.header-image {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

@media (min-width: 950px) {
  .header-image {
    height: 70vh;
  }
}

.content-img-left {
  height: 15rem;
  margin-right: 25px;
  margin-bottom: 15px;
}

@media (max-width: 950px) {
  .content-img-left {
    height: 10rem;
  }
}

.content-img-right {
  height: 13rem;
  margin-left: 25px;
  margin-bottom: 15px;
}

@media (max-width: 950px) {
  .content-img-right {
    height: 9rem;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.modal-img {
  display: none;
  height: 100%;
}

.wa-img {
  height: 54px;
}

.telegram-img {
  height: 40px;
}

.blackboard-svg {
  height: 12rem;
  margin-right: 30px;
  margin-bottom: 10px;
}

@media (max-width: 950px) {
  .blackboard-svg {
    shape-outside: ellipse();
    margin-right: 25px;
    height: 8rem;
  }
}

.contact-svg {
  height: 30px;
  margin-right: 15px;
}

.table-svg,
.save,
.delete,
.edit-active,
.edit {
  height: 35px;
  padding: 6px;
  color: #223f37;
  transition: all 0.1s ease-in-out;
}

.disclaimer-svg {
  height: 25px;
  margin: 0px 8px;
  align-self: flex-end;
}

.edit {
  color: #223f37;
}

.edit:hover {
  color: #e54400;
}

.edit-active {
  color: #e54400;
}

.delete {
  fill: #f7f9fa;
}

.delete:hover {
  fill: red;
}

.save {
  height: 30px;
}

.save:hover {
  fill: #049b04;
}

.copy {
  height: 26px;
  fill: #223f37;
  transition: all 0.1s ease-in-out;
}

.plus {
  height: 20px;
  width: 30px;
  fill: #223f37;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.plus:hover {
  fill: #e54400;
}

.saveAll {
  fill: #f7f9fa;
  color: #f7f9fa;
}

.folder-icon {
  cursor: pointer;
  text-decoration: none;
  color: #292929;
}

.folder-icon:focus {
  outline: none;
}

.folder-icon > svg {
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
}

.folder-icon:hover > svg {
  transition: all 0.1s ease-in-out;
  color: #e54400;
  fill: #e54400;
}

.file-svg {
  width: 30px;
  margin: 10px;
  fill: #223f37;
}

.file-svg-hover:hover > svg {
  fill: #e54400;
}

.contact-map {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.hint:after,
.macZoomHint:after,
.dragHint:after,
.zoomHint:after {
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  content: "";
  padding: 15px;
  position: absolute;
  z-index: 400;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.zoomHint:after {
  opacity: 1;
  content: "Verwende Strg+Scrollen zum Zoomen der Karte";
}

.dragHint:after {
  opacity: 1;
  content: "Verwende zwei Finger um die Karte zu bewegen";
}

.macZoomHint:after {
  opacity: 1;
  content: "Verwende cmd+Scrollen zum Zoomen der Karte";
}

.footer {
  height: 10rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
  color: #f7f9fa;
  background: #223f37;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mobile-menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #e54400;
  padding: 0;
  height: 40px;
  width: 40px;
  position: fixed;
  z-index: 3;
  top: 20px;
  right: 20px;
  background: #f7f9fa;
  transition: all 0.3s ease-in-out;
}

.mobile-menu-btn:hover {
  cursor: pointer;
}

.mobile-menu-btn::-moz-focus-inner {
  border: 0;
}

.btn-line {
  width: 1.6rem;
  height: 4px;
  margin-top: 6px;
  background: #e54400;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.close-button,
.img-close {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 14px;
  width: 22px;
  height: 22px;
  opacity: 0;
}

.close-button:hover,
.img-close:hover {
  cursor: pointer;
}

.close-cross,
.img-close-cross {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.close-cross:before,
.img-close-cross:before,
.close-cross:after,
.img-close-cross:after {
  position: absolute;
  content: " ";
  height: 25px;
  width: 3px;
  background-color: #e54400;
}

.close-cross:before,
.img-close-cross:before {
  transform: rotate(45deg);
}

.close-cross:after,
.img-close-cross:after {
  transform: rotate(-45deg);
}

.close-cross:focus,
.img-close-cross:focus {
  outline: none;
}

.img-close {
  top: 15px;
  right: 18px;
}

.img-close-cross {
  top: 15px;
  right: 12px;
}

.basic-btn,
.abort-btn,
.delete-btn,
.action-btn,
.login-modal-btn {
  background: #223f37;
  color: #f7f9fa;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 1.8rem;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.basic-btn:hover,
.abort-btn:hover,
.delete-btn:hover,
.action-btn:hover,
.login-modal-btn:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.basic-btn:active,
.abort-btn:active,
.delete-btn:active,
.action-btn:active,
.login-modal-btn:active {
  transition: 0.1s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.basic-btn::-moz-focus-inner,
.abort-btn::-moz-focus-inner,
.delete-btn::-moz-focus-inner,
.action-btn::-moz-focus-inner,
.login-modal-btn::-moz-focus-inner {
  border: 0;
}

.basic-btn:focus,
.abort-btn:focus,
.delete-btn:focus,
.action-btn:focus,
.login-modal-btn:focus {
  outline: none;
}

.login-modal-btn {
  grid-row: 3/4;
}

.action-btn {
  background: #ffffff;
  color: #e54400;
  border: 2px solid #e54400;
}

.action-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.delete-btn {
  background: #ffffff;
  border: 2px solid red;
  color: red;
}

.delete-btn:hover {
  background: red;
  color: #ffffff;
}

.abort-btn {
  display: flex;
  align-items: center;
  background: #ffffff;
  color: #223f37;
  border: 2px solid #223f37;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  padding-right: 5px;
  padding-left: 5px;
}

.abort-btn:hover {
  opacity: 1;
}

.abort-btn:active {
  transition: 0.1s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  border: 2px solid #223f37;
}

.floating-btn {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 25px;
  right: 70px;
  height: 2rem;
  color: #e54400;
  background: #ffffff;
  border: 2px solid #e54400;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, transform 0.3s linear;
  transform: translateX(0);
}

.floating-btn::-moz-focus-inner {
  border: 0;
}

.floating-btn-show {
  opacity: 0;
  transform: translateX(200px);
}

.table-button {
  background: transparent;
  border: none;
}

.table-button:hover {
  cursor: pointer;
}

.table-button::-moz-focus-inner {
  border: 0;
}

.table-button:focus {
  outline: none;
}

.toggle-img-btn {
  cursor: pointer;
}

.add-button {
  font-size: 44px;
  color: #223f37;
  cursor: pointer;
}

.add-button:hover {
  color: #e54400;
}

.floating,
.floating-move,
.floating-delete,
.floating-save,
.floating-add-file,
.floating-add-folder,
.floating-add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  bottom: 30px;
  right: 15px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  background: #e54400;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

.floating::-moz-focus-inner,
.floating-move::-moz-focus-inner,
.floating-delete::-moz-focus-inner,
.floating-save::-moz-focus-inner,
.floating-add-file::-moz-focus-inner,
.floating-add-folder::-moz-focus-inner,
.floating-add::-moz-focus-inner {
  border: 0;
}

.floating:focus,
.floating-move:focus,
.floating-delete:focus,
.floating-save:focus,
.floating-add-file:focus,
.floating-add-folder:focus,
.floating-add:focus {
  outline: none;
}

.floating:hover,
.floating-move:hover,
.floating-delete:hover,
.floating-save:hover,
.floating-add-file:hover,
.floating-add-folder:hover,
.floating-add:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
}

.floating:active,
.floating-move:active,
.floating-delete:active,
.floating-save:active,
.floating-add-file:active,
.floating-add-folder:active,
.floating-add:active {
  transition: 0.1s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.floating-add:before,
.floating-add:after {
  position: absolute;
  left: 25px;
  content: " ";
  height: 23px;
  width: 4px;
  background-color: #223f37;
}

.floating-add:before {
  transform: rotate(90deg);
}

.floating-add-file,
.floating-add-folder {
  color: #223f37;
}

.floating-add-file:hover > svg,
.floating-add-folder:hover > svg {
  fill: #ffffff;
  color: #ffffff;
}

.floating-add-folder {
  bottom: 105px;
}

.floating-add-folder > svg {
  fill: #223f37;
  color: #223f37;
  width: 24px;
}

.floating-save {
  border-radius: 4px;
  bottom: 100px;
}

.floating-delete {
  display: none;
  right: 90px;
  background: #ffffff;
  color: red;
  border: 3px solid red;
}

.floating-delete:hover {
  background: red;
  color: #ffffff;
}

.floating-delete > svg {
  height: 60%;
}

.floating-move {
  display: none;
  bottom: 100px;
  background: #cceaf8;
}

.floating-move:hover > svg {
  fill: #e54400;
}

.arrow-right,
.arrow-right-l {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  transform: rotate(-90deg);
  transition: all 0.2s ease;
}

.arrow-right > span,
.arrow-right-l > span {
  top: 5px;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #e54400;
  display: inline-block;
}

.arrow-right > span:first-of-type,
.arrow-right-l > span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}

.arrow-right > span:last-of-type,
.arrow-right-l > span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}

.arrow-right-l {
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}

.arrow-right-l > span {
  top: 12px;
  width: 13px;
  height: 3px;
}

.clickable {
  cursor: pointer;
}

.back-button {
  display: flex;
  align-items: center;
  align-self: flex-start;
  text-align: left;
  color: #e54400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

.back-button ::-moz-focus-inner {
  border: 0;
}

.back-button:hover {
  text-decoration: none;
  opacity: 1;
  color: #e54400;
}

.back-button:focus {
  outline: none;
}

.back-arrow {
  font-size: 22px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.modal-background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 160px;
  transition: all 0.2s ease-in-out;
}

.modal-background-open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.basic-modal,
.delete-modal,
.move-modal,
.cookie-modal,
.login-modal {
  position: fixed;
  z-index: 4;
  background: #ffffff;
  border-radius: 5px;
  border: 2px solid #e54400;
  top: 70px;
  height: 200px;
  width: 85%;
  max-width: 380px;
}

.login-modal {
  display: none;
  transition: transform 0.5s, opacity 0.8s ease-in-out;
  transform: translateY(-200%);
  opacity: 0;
}

.cookie-modal {
  padding: 10px;
  height: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.move-modal {
  padding: 10px;
  display: none;
  align-items: center;
  flex-direction: column;
}

.delete-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 150px;
  padding: 20px;
}

.login-modal-open {
  transform: translateY(0%);
  opacity: 1;
}

.alert-modal,
.warning-modal {
  display: flex;
  justify-content: center;
  height: initial;
  position: fixed;
  z-index: 3;
  top: 10px;
  border-radius: 5px;
  border: 2px solid #223f37;
  background: #cceaf8;
  width: 85%;
  max-width: 400px;
  padding: 1rem;
  -webkit-animation: fade-in-out 3.5s;
          animation: fade-in-out 3.5s;
  opacity: 0;
  transform: translateY(-200%);
  visibility: hidden;
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200%);
  }

  20% {
    opacity: 1;
    visibility: initial;
    transform: translateY(0%);
  }

  85% {
    opacity: 1;
    visibility: initial;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200%);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200%);
  }

  20% {
    opacity: 1;
    visibility: initial;
    transform: translateY(0%);
  }

  85% {
    opacity: 1;
    visibility: initial;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200%);
  }
}

.alert-modal:hover,
.warning-modal:hover {
  cursor: pointer;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.warning-modal {
  color: red;
  border: 2px solid red;
  -webkit-animation: fade-in-out 4.5s;
          animation: fade-in-out 4.5s;
}

.img-modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  background: #223f37;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.img-modal-content {
  height: 90%;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  transform: scale(0);
  transition: transform 0.5s ease;
}

.report-modal {
  display: none;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #223f37;
  position: fixed;
  z-index: 3;
  border-radius: 5px;
  width: 0px;
  height: 0px;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.report-modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  overflow: auto;
}

.table,
.report-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.th,
.th-author,
.th-small,
.th-visible,
.th-slider,
.th-flex {
  position: -webkit-sticky;
  position: sticky;
  top: 2.8rem;
  padding: 5px 0px 5px 0px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #223f37;
  color: #f7f9fa;
  z-index: 2;
}

@media (max-width: 950px) {
  .th,
  .th-author,
  .th-small,
  .th-visible,
  .th-slider,
  .th-flex {
    top: 0;
  }
}

.tr {
  transition: all 0.1s ease-in-out;
}

.tr:nth-of-type(odd) {
  background: #cceaf8;
}

.tr:nth-of-type(even) {
  background: #ffffff;
}

.td,
.td-offline,
.td-online {
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.td-online {
  color: #049b04;
}

.td-offline {
  color: red;
}

.td-actions {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .td-actions {
    flex-direction: column;
  }
}

.report-table {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.report-table td:first-child {
  border-left: 0;
}

.report-table tr:first-child td {
  border-top: 0;
}

.th-row {
  display: flex;
  align-items: center;
  background: #223f37;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 55px;
  z-index: 2;
}

@media (max-width: 950px) {
  .th-row {
    display: none;
  }
}

.th-flex {
  width: 60%;
}

.th-visible,
.th-slider {
  grid-column: 1/2;
}

.th-slider {
  grid-column: 2/3;
}

.th-small {
  grid-column: 3/4;
}

.th-author {
  width: 10%;
}

.th-rating {
  display: flex;
  justify-content: center;
  width: 30%;
  background: #223f37;
  color: #f7f9fa;
  z-index: 2;
  grid-column: 2;
}

.th-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.tr-wrapper,
.tr-wrapper-guest {
  display: grid;
  grid-template-columns: repeat(2, 25%) repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  width: 30%;
  align-self: stretch;
  border-left: 4px solid whitesmoke;
}

@media (max-width: 950px) {
  .tr-wrapper,
  .tr-wrapper-guest {
    width: 100%;
    display: flex;
    align-items: center;
    border-left: none;
    border-top: 4px solid whitesmoke;
    justify-content: space-evenly;
  }
}

@media (max-width: 950px) {
  .tr-wrapper-guest {
    border-top: none;
  }
}

.report-tr {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid whitesmoke;
}

@media (max-width: 950px) {
  .report-tr {
    flex-direction: column;
  }
}

.td-small,
.checkbox-visible,
.checkbox-slider,
.td-name {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  grid-column: 3/4;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 4px solid whitesmoke;
  overflow: hidden;
  text-overflow: ellipsis;
}

.td-name {
  width: 10%;
  border-left: none;
  flex-direction: column;
}

@media (max-width: 950px) {
  .td-name {
    width: 100%;
  }
}

.checkbox-visible,
.checkbox-slider {
  border-left: none;
}

@media (max-width: 950px) {
  .checkbox-visible,
  .checkbox-slider {
    width: 70px;
    flex-direction: column;
    margin-top: 20px;
  }
}

.td-flex {
  display: flex;
  align-items: center;
  align-self: stretch;
  text-align: left;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 4px solid whitesmoke;
  font-weight: 500;
}

@media (max-width: 950px) {
  .td-flex {
    width: 100%;
    border-left: none;
  }
}

.table-delete {
  grid-column: 5/6;
}

.table-edit {
  grid-column: 4/5;
}

.form-wrapper {
  grid-column: 1/4;
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;
  grid-column: 1/5;
}

.basic-input {
  border-radius: 0;
  width: 10rem;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 10px;
  transition: all 0.1s ease-in-out;
  font-size: 15px;
}

.basic-input:focus {
  border-bottom: 1px solid #e54400;
  outline: none;
}

.edit-input {
  width: 10rem;
  height: 30px;
  background: #cceaf8;
  border: none;
  padding: 5px;
  font-size: 15px;
  box-shadow: inset 0px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.edit-input:focus {
  outline: none;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  height: 100%;
  width: 50%;
  transition: all 0.1s ease-in-out;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.2);
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: -5px;
  width: 8px;
  height: 20px;
  border: solid #223f37;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 1;
}

.checkbox:focus {
  outline: none;
}

.checkmark {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #cceaf8;
  z-index: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.report-input,
.report-input-large {
  width: 200px;
  height: 25px;
  box-shadow: inset 0 0px 5px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #223f37;
  transition: all 0.2s ease-in-out;
}

.report-input:hover,
.report-input-large:hover {
  box-shadow: 0px 0px 5px #223f37;
}

.report-input:focus,
.report-input-large:focus {
  box-shadow: 0 0 5px #e54400;
  border: solid 1px #e54400;
}

.report-input-large {
  width: 99%;
}

.textarea {
  height: 100%;
  min-height: 150px;
  width: 99%;
  font-size: 0.9rem;
  box-shadow: inset 0 0px 5px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #223f37;
  transition: all 0.2s ease-in-out;
}

.textarea:hover {
  box-shadow: 0px 0px 5px #223f37;
}

.textarea:focus {
  box-shadow: 0 0 5px #e54400;
  border: solid 1px #e54400;
}

.custom-select {
  position: relative;
  min-width: 200px;
  border: 1px solid #223f37;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.custom-select:hover {
  box-shadow: 0px 0px 5px #223f37;
}

.custom-select:before {
  content: "\25BE";
  font-size: 16px;
  position: absolute;
  right: 8px;
  top: 2px;
  color: #e54400;
}

.custom-select > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  font-size: 14px;
  height: 25px;
  outline: none;
  border: none;
  padding-left: 5px;
  width: 100%;
  cursor: pointer;
}

.custom-select > select::-ms-expand {
  display: none;
}

.custom-select > select:focus {
  outline: none;
}

.custom-select > select:focus::-ms-value {
  background-color: transparent;
}

.custom-select > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.custom-file-upload {
  border: 1px solid #223f37;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 5px 10px 5px 10px;
  background: #223f37;
  color: #f7f9fa;
}

.custom-file-upload > input {
  position: absolute;
  z-index: -10;
}

.custom-file-upload:hover {
  box-shadow: 0px 0px 5px #223f37;
}

.custom-file-upload:active {
  transition: 0.1s;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.dragNdrop {
  background: #cceaf8;
  width: 100%;
  min-height: 200px;
  padding: 90px 20px;
  position: relative;
  text-align: center;
}

.dragNdrop > span {
  display: none;
}

.dragNdrop-avalaible {
  outline: 2px dashed rgba(0, 0, 0, 0.2);
  outline-offset: -10px;
}

.dragNdrop-avalaible > span {
  display: block;
}

.dragover {
  background: #ffffff;
  outline: 2px dashed #e54400;
}

.form-label {
  font-size: 1rem;
}

.input-label {
  margin-bottom: 15px;
  margin-top: 15px;
}

.checkbox-label {
  white-space: nowrap;
}

.table-label {
  margin-top: 15px;
  white-space: nowrap;
}

@media (min-width: 950px) {
  .table-label {
    display: none;
  }
}

.file-upload-label {
  width: 100%;
  margin: 45px 0px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 950px) {
  .mq-max-m {
    display: none;
  }
}

@media (min-width: 951px) {
  .mq-min-m {
    display: none;
  }
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 320px;
  min-height: 250px;
  padding: 25px;
}

@media (max-width: 950px) {
  .slider-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding: 5px;
  }
}

.slide {
  text-align: center;
  display: none;
  padding-left: 5px;
  padding-right: 5px;
  color: #f7f9fa;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media (max-width: 950px) {
  .slide {
    color: #292929;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f7f9fa;
  font-weight: bold;
  font-size: 22px;
  transition: 0.3s ease-in-out;
  border-radius: 0 3px 3px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.8;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #e54400;
  opacity: 1;
}

@media (max-width: 950px) {
  .prev,
  .next {
    color: #223f37;
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background: #e54400;
}

.active {
  background: #717171;
}

.dots-wrapper {
  display: flex;
  position: absolute;
  bottom: 5px;
}

.clickable-star-rating {
  margin-bottom: 10px;
  width: 148px;
  height: 28px;
}

.clickable-star-rating label {
  float: right;
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.clickable-star-rating label:not(:first-of-type) {
  padding-right: 2px;
}

.clickable-star-rating label:before {
  content: "\2605";
  font-size: 30px;
  color: #cccccc;
  line-height: 1;
}

.clickable-star-rating input {
  display: none;
}

.clickable-star-rating input:checked ~ label:before,
.clickable-star-rating:not(:checked) > label:hover:before,
.clickable-star-rating:not(:checked) > label:hover ~ label:before {
  color: #fc0;
}

:root {
  --star-size: 30px;
  --star-off-color: #cccccc;
  --star-on-color: #fc0;
}

.average-star-rating,
.show-star-rating-m,
.show-star-rating-l,
.show-star-rating-sm,
.show-star-rating-guest {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.average-star-rating::before,
.show-star-rating-m::before,
.show-star-rating-l::before,
.show-star-rating-sm::before,
.show-star-rating-guest::before {
  content: "\2605\2605\2605\2605\2605";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-on-color) var(--percent), var(--star-off-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show-star-rating-guest {
  --star-size: 28px;
  margin-bottom: 10px;
  grid-column: 2;
}

.show-star-rating-sm {
  --star-size: 14px;
}

@media (max-width: 950px) {
  .show-star-rating-sm {
    display: none;
  }
}

.show-star-rating-l {
  --star-size: 28px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 951px) {
  .show-star-rating-l {
    display: none;
  }
}

.show-star-rating-m {
  --star-size: 23px;
}

@media (max-width: 950px) {
  .show-star-rating-m {
    --star-size: 25x;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.3s;
          animation: fadeOut 0.3s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 100%;
  max-width: 1000px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.file-container:last-of-type {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.file {
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: #292929;
  transition: all 0.1s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.file:hover {
  color: #e54400;
}

.file:focus {
  outline: none;
}

.filename {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
  width: 90%;
}

.file-title-box {
  width: 100%;
  display: flex;
}

.select-all {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1000px;
}

