$background: #ffffff;
$primary: #223f37;
$secondary: #f7f9fa;
$tertiary: #cceaf8;
$font: #292929;
$greyFont: #808080;
$action: #e54400;
$warning: red;
$online: #049b04;
$transparentBackground: rgba(0, 0, 0, 0.5);
$hover: rgba(0, 0, 0, 0.2);
