@import "./colors";
@import "./typography";
@import "./space";

* {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    html {
        box-sizing: border-box;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    color: $font;
    font-family: "Gidole-Regular";
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
}
