.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-30 {
    margin: 30px;
}

.margin-50 {
    margin: 50px;
}

.top {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.bottom {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.right {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.left {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.no-margin {
    margin: 0px;
}
