@import "./colors";

@font-face {
    /* Logo */

    font-family: "Guillermonkey";
    src: url("./fonts/Guillermonkey.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Guillermonkey.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./fonts/Guillermonkey.otf") format("opentype"),
        /* Open Type Font */ url("./fonts/Guillermonkey.svg") format("svg"),
        /* Legacy iOS */ url("./fonts/Guillermonkey.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./fonts/Guillermonkey.woff")
            format("woff"),
        /* Modern Browsers */ url("./fonts/Guillermonkey.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Standard Text */

    font-family: "Gidole-Regular";
    src: url("./fonts/Gidole-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Gidole-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./fonts/Gidole-Regular.otf") format("opentype"),
        /* Open Type Font */ url("./fonts/Gidole-Regular.svg") format("svg"),
        /* Legacy iOS */ url("./fonts/Gidole-Regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./fonts/Gidole-Regular.woff")
            format("woff"),
        /* Modern Browsers */ url("./fonts/Gidole-Regular.woff2")
            format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-size: 180%;
    padding-top: 3%;
    margin: 0;
    color: $primary;
    font-family: "Guillermonkey";
}

.contact-text {
    font-size: 1.1rem;
}

.h2 {
    font-size: 1.9rem;
}

.badge-heading {
    @extend .h2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 900;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;

    background: rgb(251, 251, 251);
    background: linear-gradient(
        90deg,
        rgba(251, 251, 251, 0) 0%,
        rgba(255, 255, 255, 0.8) 25%,
        rgba(255, 255, 255, 0.8) 75%,
        rgba(231, 231, 231, 0) 100%
    );

    @media (max-width: 950px) {
        font-size: 1.1rem;
    }
}

.td-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.th-text {
    @extend .td-text;
}

.small {
    font-size: 0.8rem;
}

.medium {
    font-size: 0.9rem;
}

.content-text {
    word-wrap: break-word;
}

.slider-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.slider-text {
    font-weight: normal;
    font-style: italic;
    font-size: 1.2rem;
}

.center-text {
    text-align: center;
}

.lh-m {
    line-height: 1.5;
}

.light {
    color: $greyFont;
}
