.basic-input {
    border-radius: 0;
    width: 10rem;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    transition: all 0.1s ease-in-out;
    font-size: 15px;

    &:focus {
        border-bottom: 1px solid $action;
        outline: none;
    }
}

.edit-input {
    width: 10rem;
    height: 30px;
    background: $tertiary;
    border: none;
    padding: 5px;
    font-size: 15px;
    box-shadow: inset 0px 2px 4px 0 hsla(0, 0%, 0%, 0.15);
    &:focus {
        outline: none;
    }
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 100%;
    width: 50%;
    transition: all 0.1s ease-in-out;

    &:hover input ~ .checkmark {
        background-color: $hover;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 7px;
        top: -5px;
        width: 8px;
        height: 20px;
        border: solid $primary;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    z-index: 1;

    &:focus {
        outline: none;
    }
}

.checkmark {
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: $tertiary;
    z-index: 0;

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.report-input {
    width: 200px;
    height: 25px;
    box-shadow: inset 0 0px 5px 0 hsla(0, 0%, 0%, 0.4);
    border: 1px solid $primary;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 5px $primary;
    }
    &:focus {
        box-shadow: 0 0 5px $action;
        border: solid 1px $action;
    }
}

.report-input-large {
    @extend .report-input;
    width: 99%;
}

.textarea {
    height: 100%;
    min-height: 150px;
    width: 99%;
    font-size: 0.9rem;
    box-shadow: inset 0 0px 5px 0 hsla(0, 0%, 0%, 0.4);
    border: 1px solid $primary;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 5px $primary;
    }
    &:focus {
        box-shadow: 0 0 5px $action;
        border: solid 1px $action;
    }
}

.custom-select {
    position: relative;
    min-width: 200px;
    border: 1px solid $primary;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    &:hover {
        box-shadow: 0px 0px 5px $primary;
    }

    &:before {
        content: "\25be";
        font-size: 16px;
        position: absolute;
        right: 8px;
        top: 2px;
        color: $action;
    }

    > select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        &::-ms-expand {
            display: none;
        }
        &:focus {
            outline: none;
        }
        font-size: 14px;
        height: 25px;
        outline: none;
        border: none;
        padding-left: 5px;
        width: 100%;
        cursor: pointer;

        &:focus::-ms-value {
            background-color: transparent;
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }
}

.custom-file-upload {
    > input {
        position: absolute;
        // left: -9999rem;
        z-index: -10;
    }

    border: 1px solid $primary;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 5px 10px 5px 10px;
    background: $primary;
    color: $secondary;
    &:hover {
        box-shadow: 0px 0px 5px $primary;
    }

    &:active {
        transition: 0.1s;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    }
}

.dragNdrop {
    background: $tertiary;
    width: 100%;
    min-height: 200px;
    padding: 90px 20px;
    position: relative;
    text-align: center;

    > span {
        display: none;
    }
}

.dragNdrop-avalaible {
    outline: 2px dashed $hover;
    outline-offset: -10px;

    > span {
        display: block;
    }
}

.dragover {
    background: $background;
    outline: 2px dashed $action;
}
