.form-label {
    font-size: 1rem;
}

.input-label {
    margin-bottom: 15px;
    margin-top: 15px;
}

.checkbox-label {
    white-space: nowrap;
}

.table-label {
    margin-top: 15px;
    white-space: nowrap;

    @media (min-width: 950px) {
        display: none;
    }
}

.file-upload-label {
    width: 100%;
    margin: 45px 0px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
